params {
    fasta = "*.fasta"
    outdir = "sccion/"
}


process {

    errorStrategy = "ignore"

    conda = "$HOME/conda/envs/sccion"

    withLabel: sccion {
        cpus = 1
        memory = "2G"
        time = "1h"
    }

}

profiles {
    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.scratch = true
        process.clusterOptions = ""
    }
}
